doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Url Shortener
h1 URL Shortener
form
    label(for='urlInput') Enter your url:
    input#urlInput(type='text')
    input#submit-btn(type='submit' value='Shorten!!')
h2.display_output(style="visibility: hidden")
    | Your URL is successfully shortened!!
    p
        a(href='127.0.0.1/s/asvnsd') 127.0.0.1/s/asvnsd
    button#copyButton Copy
footer
    a(href='/') Home
    a(href='/history' style='margin: 20px') History
script(src='/js/bundle.js')